$brown: #987861;
$dark-red: #4D1F19;
$pink: #E38E8D;

body {
	background-color: $brown;
}

@mixin make-teeth($left){
	position: absolute;
	width: 18%;
	height: 30%;
	left: $left;
	clip-path: ellipse(50% 55% at 50% 0%);
	background-color: white;
}

.left-eye {
	position: absolute;
	height: 6%;
	width: 3%;
	top: 40%;
	left: 32%;
	background-color: black;
	border-radius: 50%;
}

.right-eye {
	position: absolute;
	height: 6%;
	width: 3%;
	top: 40%;
	right: 32%;
	background-color: black;
	border-radius: 50%;
}

.nose {
	position: absolute;
	height: 8%;
	width: 12%;
	top: 50%;
	right: 44%;
	background-color: black;
	border-radius: 50%;

	.wrinkle {
		position: absolute;
		top: -40%;
		left: 5%;
		width: 90%; 
		height: 90%;  
		border:solid 3px #000;
		border-color:#000 transparent transparent transparent;
		border-radius: 100%/90% 90% 0 0;
	}
}

.cheek {
	position: absolute;
	top: 60%;
	left: 60%;
	width: 15%; 
	height: 10%;  
	border:solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/90% 90% 0 0;
	transform: rotate(80deg);
}

.left-ear {
	position: absolute;
	top: 0;
	left: 15%;
	width: 10%; 
	height: 12%;  
	border: solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/200% 200% 0 0;
	transform: rotate(-30deg);
}

.right-ear {
	position: absolute;
	top: 0;
	right: 15%;
	width: 10%; 
	height: 12%;  
	border: solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/200% 200% 0 0;
	transform: rotate(30deg);

}

.between-ears {
	position: absolute;
	left: 22%;
	width: 56%; 
	height: 40%;  
	border:solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/90% 90% 0 0;
}

.mouth {
	position: absolute;
	top: 70%;
	left: 35%;
	width: 30%; 
	height: 20%;  
	// border: solid 3px black;
 //    border-radius: 0% 0% 150% 150%;
	clip-path: circle(50% at 50% 0);
    background: $dark-red;

    .tongue {
    	position: absolute;
    	width: 60%;
    	height: 50%;
    	top: 50%;
    	left: 20%;
    	border-radius:150% 150% 0% 0% ;
    	background-color: $pink;
    }

    .teeth {
    	@include make-teeth(15%);
    }

    .teeth-2 {
    	@include make-teeth(35%);
    }
    .teeth-3 {
    	@include make-teeth(55%);
    }
}


// .box {
// 	border: 1px solid white;
// }
