$white: #FDFBEF;

body {
	background-color: $white;
}

.left-eye {
	position: absolute;
	height: 6%;
	width: 3%;
	top: 40%;
	left: 32%;
	background-color: black;
	border-radius: 50%;
}

.right-eye {
	position: absolute;
	height: 6%;
	width: 3%;
	top: 40%;
	right: 32%;
	background-color: black;
	border-radius: 50%;
}

.nose {
	position: absolute;
	height: 8%;
	width: 12%;
	top: 50%;
	right: 44%;
	background-color: black;
	border-radius: 50%;
}

.mouth {
	position: absolute;
	top: 65%;
	left: 55%;
	width:10%; 
	height: 10%;  
	border:solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/90% 90% 0 0;
	transform: rotate(160deg);
}

.cheek {
	position: absolute;
	top: 65%;
	left: 25%;
	width:20%; 
	height: 10%;  
	border:solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/90% 90% 0 0;
	transform: rotate(-90deg);
}

.left-ear {
	position: absolute;
	top: 0;
	left: 15%;
	width: 10%; 
	height: 12%;  
	border: solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/200% 200% 0 0;
	transform: rotate(-10deg);
}

.right-ear {
	position: absolute;
	top: 0;
	right: 15%;
	width: 10%; 
	height: 12%;  
	border: solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/200% 200% 0 0;
	transform: rotate(10deg);

}

.between-ears {
	position: absolute;
	top: 7%;
	left: 23%;
	width: 54%; 
	height: 18%;  
	border:solid 3px #000;
	border-color:#000 transparent transparent transparent;
	border-radius: 100%/90% 90% 0 0;
	// transform: rotate(-90deg);

}

// .box {
// 	border: 1px solid black;
// }