$blue: #B1FAF1;
$red: #F35B44;
$maroon: #89545C;
$blue-shadow: #83C4BE;


body{ background-color: $blue!important;}

.left-eye, .right-eye {
	position: absolute;
	width: 3%;
	height: 8%;
	top: 50%;
	left: 50%;
	background-color: black;
	border-radius: 50%;
	
	.pupil {
		position: absolute;
		width: 30%;
		height: 50%;
		top: 10%;
		left: 20%;
		background-color: white;
		border-radius: 50%;
	}
}

.right-eye {
	left: 65%;
}
.nose-band {
	transform: rotate(2deg);
	width: 100%;
	height: 100%;
	.ellipse-1 {
		position: absolute;
		width: 12%;
		height: 12%;
		top: 55%;
		left: 50%;
		background-color: $red;
		clip-path: ellipse(49% 49% at 50% 50%);
	}

	.trapezoid {
		position: absolute;
		width: 12%;
		height: 8%;
		top: 61%;
		left: 50%;
		background-color: $red;
		clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	}
	.ellipse-2 {
		position: absolute;
		width: 10%;
		height: 10%;
		top: 64%;
		left: 51%;
		background-color: $blue;
		clip-path: ellipse(49% 42% at 50% 50%);
	}
}

.nostrils {
	position: absolute;
	width: 5%;
	height: 5%;
	top: 70%;
	left: 50%;
	background-color: $blue-shadow;
	border-radius: 50%;
}
.box {
	border: 1px solid black;
}