@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.box {
	position: relative;
	display: block;	
	width: 600px;
	height: 420px;
	flex-shrink: 0; /*prevent image from shrinking*/
}

@media all and (max-width: 600px) {
	.box {
		width: 250px;
		height: 175px;
	}
}

.my-container { 
	height: 100vh;
	width: 100vw;
}