@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	width: 50%;
	margin: 100px auto;
	padding-left: 10px;
	padding-right: 10px;

	.page-title {
		display: block;
		text-align: center;
		padding: 30px;
		font-family: 'Pacifico';
	}

	.col-custom {
		padding:0;
	}

	.item {
		overflow: hidden;		
		img {
			max-width: 100%;
			transition: all 0.3s;
			
			&:hover {
				transform: scale(1.1);
			}
		}
	}

}

.box {
	position: relative;
	display: block;	
	width: 600px;
	height: 420px;
	flex-shrink: 0; /*prevent image from shrinking*/
}

@media all and (max-width: 600px) {
	.box {
		width: 250px;
		height: 175px;
	}
}