$light-green: #A7E8BD;
$whitish: #F7F9F9;
$greyish: #BED8D4;
$blue: #63D2FF;
$pink: #FCBCB8;
$purple: #809BCE;
$dark-grey: #474747;

body {
	background-color: $purple!important;
}

.base {
	position: absolute;
	width: 50%;
	height: 3%;
	bottom: 0;
	left: 25%;
	border-radius: 20%;
	background-color: $greyish;
}

.basket {
	position: absolute;
	width: 20%;
	height: 30%;
	bottom: 3%;
	left: 57%;
	background-color: $light-green;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);

	.towel {
		position: absolute;
		width: 50%;
		height: 60%;
		left: 25%;
		top: -20%;
		background-color: $pink;
		border-radius: 20%;
	}
}

.wm-whole {
	position: absolute;
	width: 40%;
	height: 70%;
	bottom: 3%;
	left: 25%;
	background-color: $dark-grey;
	border-radius: 10%;

	.button-1 {
		position: absolute;
		width: 8%;
		height: 6%;
		background-color: $greyish;
		top: 8%;
		right: 12%;
		border-radius: 50%;
	}
	.button-2 {
		position: absolute;
		width: 8%;
		height: 6%;
		background-color: $greyish;
		top: 8%;
		right: 25%;
		border-radius: 50%;
	}
	.button-long {
		position: absolute;
		width: 20%;
		height: 6%;
		background-color: $greyish;
		top: 8%;
		left: 12%;
		border-radius: 30%;
	}

	.wm-front-load {
		position: absolute;
		width: 100%;
		height: 70%;
		bottom: 10%;
		background-color: $dark-grey;
		border-top: 3px solid $greyish;
		border-bottom: 3px solid $greyish;

		.circle {
			position: absolute;
			width: 70%;
			height: 78%;
			background-color: $greyish;
			left: 15%;
			top: 11%;
			border-radius: 50%;

			.inner-circle {
				position: absolute;
				width: 70%;
				height: 70%;
				background-color: $purple;
				top: 15%;
				left: 15%;
				border-radius: 50%;

				.water-1 {
					position: absolute;
					background-color: $blue;
					width: 20%;
					height: 20%;
					top: 40%;
					left: 40%;
					border-radius: 50%;
					animation: orbit 4s linear infinite;
				}

				.water-2 {
					position: absolute;
					background-color: $blue;
					width: 20%;
					height: 20%;
					top: 40%;
					left: 40%;
					border-radius: 50%;
					animation: orbit 4s linear reverse infinite;
				}
			}
		}
	}

}

@keyframes orbit {
	from { transform: rotate(0deg) translateX(30px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}