body {
  background-color: #987861; }

.left-eye {
  position: absolute;
  height: 6%;
  width: 3%;
  top: 40%;
  left: 32%;
  background-color: black;
  border-radius: 50%; }

.right-eye {
  position: absolute;
  height: 6%;
  width: 3%;
  top: 40%;
  right: 32%;
  background-color: black;
  border-radius: 50%; }

.nose {
  position: absolute;
  height: 8%;
  width: 12%;
  top: 50%;
  right: 44%;
  background-color: black;
  border-radius: 50%; }
  .nose .wrinkle {
    position: absolute;
    top: -40%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid 3px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 100%/90% 90% 0 0; }

.cheek {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 15%;
  height: 10%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/90% 90% 0 0;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg); }

.left-ear {
  position: absolute;
  top: 0;
  left: 15%;
  width: 10%;
  height: 12%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/200% 200% 0 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.right-ear {
  position: absolute;
  top: 0;
  right: 15%;
  width: 10%;
  height: 12%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/200% 200% 0 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

.between-ears {
  position: absolute;
  left: 22%;
  width: 56%;
  height: 40%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/90% 90% 0 0; }

.mouth {
  position: absolute;
  top: 70%;
  left: 35%;
  width: 30%;
  height: 20%;
  -webkit-clip-path: circle(50% at 50% 0);
          clip-path: circle(50% at 50% 0);
  background: #4D1F19; }
  .mouth .tongue {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 50%;
    left: 20%;
    border-radius: 150% 150% 0% 0%;
    background-color: #E38E8D; }
  .mouth .teeth {
    position: absolute;
    width: 18%;
    height: 30%;
    left: 15%;
    -webkit-clip-path: ellipse(50% 55% at 50% 0%);
            clip-path: ellipse(50% 55% at 50% 0%);
    background-color: white; }
  .mouth .teeth-2 {
    position: absolute;
    width: 18%;
    height: 30%;
    left: 35%;
    -webkit-clip-path: ellipse(50% 55% at 50% 0%);
            clip-path: ellipse(50% 55% at 50% 0%);
    background-color: white; }
  .mouth .teeth-3 {
    position: absolute;
    width: 18%;
    height: 30%;
    left: 55%;
    -webkit-clip-path: ellipse(50% 55% at 50% 0%);
            clip-path: ellipse(50% 55% at 50% 0%);
    background-color: white; }
