body {
  background-color: #FFF; }

.left-eye {
  position: absolute;
  height: 6%;
  width: 3%;
  top: 40%;
  left: 32%;
  background-color: black;
  border-radius: 50%; }

.left-eye-rings {
  position: absolute;
  height: 35%;
  width: 20%;
  top: 25%;
  left: 22%;
  background-color: #67625F;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg); }

.right-eye {
  position: absolute;
  height: 6%;
  width: 3%;
  top: 40%;
  right: 32%;
  background-color: black;
  border-radius: 50%; }

.right-eye-rings {
  position: absolute;
  height: 35%;
  width: 20%;
  top: 25%;
  left: 58%;
  background-color: #67625F;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.nose {
  position: absolute;
  height: 8%;
  width: 12%;
  top: 50%;
  right: 44%;
  background-color: black;
  border-radius: 50%; }

.cheek {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 30%;
  height: 30%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/80% 80% 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FFF; }

.left-ear {
  position: absolute;
  top: 0;
  left: 15%;
  width: 10%;
  height: 12%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/200% 200% 0 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: #67625F; }

.right-ear {
  position: absolute;
  top: 0;
  right: 15%;
  width: 10%;
  height: 12%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/200% 200% 0 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: #67625F; }

.between-ears {
  position: absolute;
  left: 22%;
  width: 56%;
  height: 40%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/90% 90% 0 0; }

.mouth {
  position: absolute;
  top: 65%;
  left: 55%;
  width: 10%;
  height: 10%;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 100%/90% 90% 0 0;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg); }
