<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% set title='Cactus' %}

{% block scripts %}
	<link rel="stylesheet" href="css/cactus.css">
{% endblock %}

{% block content %}
	<div class="box">
		<div class="pot"></div>
		<div class="cactus-1-extension"></div>
		<div class="cactus-1">
			<div class="hemisphere"></div>
			<div class="spikes-1"></div>
			<div class="spikes-2"></div>
			<div class="spikes-3"></div>
			<div class="spikes-4"></div>
			<div class="spikes-5"></div>

			<div class="dots-1"></div>
			<div class="dots-2"></div>
			<div class="dots-3"></div>
			<div class="dots-4"></div>
			<div class="dots-5"></div>
			<div class="left-arm">
				<div class="left-arm__side"></div>
				<div class="left-arm__top"></div>
				<div class="left-arm__hemisphere"></div>
				<div class="quadrant"></div>

			</div>
			<div class="spikes-6"></div>
			<div class="spikes-7"></div>
			<div class="spikes-8"></div>
			<div class="spikes-9"></div>
			<div class="dots-6"></div>
			<div class="dots-7"></div>
			<div class="right-arm">
				<div class="right-arm__side"></div>
				<div class="right-arm__top"></div>
				<div class="right-arm__hemisphere"></div>
				<div class="quadrant"></div>
			</div>
			<div class="spikes-10"></div>
			<div class="spikes-11"></div>
			<div class="spikes-12"></div>
			<div class="dots-9"></div>
			<div class="dots-8"></div>
		</div>
		<!-- <div class="hemisphere"></div> -->
		<div class=""></div>
		<div class=""></div>
	</div>
{% endblock %}