<!-- index.nunjucks -->
{% extends "layout.nunjucks" %}

{% block title %}
	Koala
{% endblock %}

{% block scripts %}
	<link rel="stylesheet" href="css/koala.css">
{% endblock %}

{% block content %}

	<div class='box'>
	<div class='head'>
	<div class='head-copy'></div>
	<div class='left-ear'>
	<div class='left-ear__inner'></div>
	</div>
	<div class='right-ear'>
	<div class='right-ear__inner'></div>
	</div>
	<div class='left-eye'>
	<div class='pupil'></div>
	</div>
	<div class='right-eye'>
	<div class='pupil'></div>
	</div>
	<div class='nose'></div>
	<div class='hair-left'></div>
	<div class='hair-right'></div>
	</div>
	</div>

{% endblock %}