{% extends "layout.nunjucks" %}
{% set title='Phanpy' %}
{% block scripts %}
  <link rel="stylesheet" href="css/phanpy.css">
{% endblock %}
{% block content %}
  <div class="box">
  	<div class="left-eye">
  		<div class="pupil"></div>
  	</div>
  	<div class="right-eye">
  		<div class="pupil"></div>
  	</div>
  	<div class="nose-band">
  		<div class="ellipse-1"></div>
  		<div class="trapezoid"></div>
  		<div class="ellipse-2"></div>
  	</div>

  	<div class="nostrils"></div>
  	<div class="mouth"></div>
  </div>
{% endblock %}