{% extends "layout.nunjucks" %}
{% block title %}
  travel
{% endblock %}
{% block scripts %}
  <link rel="stylesheet" href="css/travel.css">
{% endblock %}
{% block content %}
  <div class="my-container">

	<div class="camera">
		<div class="item">
			<div class="body">
				<div class="middle"></div>				
				<div class="shutter-release">
					<div class="shutter-button"></div>
				</div>
				<div class="flash">
					<div class="light"></div>
				</div>
				<div class="focus-light"></div>
				<div class="lens">
					<div class="inner-1">
						<div class="inner-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="suitcase">
		<div class="item">
			<div class="left-wheel"></div>
			<div class="right-wheel"></div>
			<div class="body">
				<div class="pocket"></div>
			</div>
			<div class="handle"></div>
			<div class="tag"></div>
		</div>
	</div>
	<div class="passport">
		<div class="item">
			<div class="ticket">
				<div class="top-shaded"></div>
				<div class="barcode"></div>
			</div>
			<div class="body">
				<div class="title">Passport</div>
			</div>
		</div>
	</div>

	<div class="toothbrush">
		<div class="item">
			<div class="stick"></div>
			<div class="bristles">
				<div></div><div></div><div></div>
				<div></div><div></div><div></div>
				<div></div><div></div><div></div>
				<div></div><div></div><div></div>
			</div>
		</div>
	</div>
	<div class="sunglasses">
		<div class="item">
			<div class="frame"></div>
			<div class="left-eye"></div>
			<div class="right-eye"></div>

		</div>
	</div>

  </div>
{% endblock %}