{% extends "layout.nunjucks" %}
{% set title='Turtwig' %}
{% block scripts %}
  <link rel="stylesheet" href="css/turtwig.css">
{% endblock %}
{% block content %}
  <div class="box">
  	<div class="head-lower"></div>
  	<div class="head-upper"></div>
  	<div class="nose">
     <div class="dot"></div> 
    </div>
  	<div class="eye">
      <div class="black-part">
        <div class="pupil"></div>
      </div> 
    </div>
  	<div class="hair">
     <div class="strand-1"></div> 
     <div class="strand-2"></div> 
     <div class="strand-3"></div> 
    </div>
  	<div class="stalk"></div>
  	<div class="left-leaf"></div>
  	<div class="right-leaf"></div>
  </div>
{% endblock %}