{% extends "layout.nunjucks" %}
{% block title %}
  windmill
{% endblock %}
{% block scripts %}
  <link rel="stylesheet" href="css/windmill.css">
{% endblock %}
{% block content %}
<div class="my-container">
	<div class="ground">
		<div class="tunnel">
			<div class="vert-from-windmill"></div>
			<div class="hort"></div>
			<div class="vert-to-home"></div>
		</div>
	</div>
	<div class="windmill">
		<div class="tower"></div>

		<div class="blades">
			<div class="blade-1"></div>
			<div class="blade-2"></div>
			<div class="blade-3"></div>
		</div>
		<div class="rotor"></div>
	</div>
	<div class="home">
		<div class="square">
			<div class="door"></div>
		</div>
		<div class="triangle"></div>
		<div class="rect">
			<div class="window"></div>
			<div class="window"></div>
		</div>
		<div class="parallelogram"></div>
	</div>
</div>
{% endblock %}