{% extends "layout.nunjucks" %}
{% block title %}
  windows
{% endblock %}
{% block scripts %}
  <link rel="stylesheet" href="css/windows.css">
{% endblock %}
{% block content %}
  <div class="container-fluid">
  	<div class="row">

  		<div class="col-sm-6 window" id="window-1">
  			
        <div class="top">
  				<div class="trapezoid"></div>
  			</div>

  			<div class="frame">
  				<div class="inner-frame">
  					<div class="inner-2-frame">
  						<div class="inner-3-frame">
  							<div class="tl"></div>
	  						<div class="tr"></div>
	  						<div class="bl"></div>
	  						<div class="br"></div>
  						</div>
  					</div>
  				</div>
  			</div>

        <div class="window-title text-center">
          <p>60 Waterloo Street</p>
        </div>
  		</div>

  		<div class="col-sm-6 window" id="window-2">
        <div class="frame" style="left: 20%;">
          <div class="top">
            <div class="inner">
              <div class="inner-2">
                <div class="triangle"></div>
                <div class="triangle-2"></div>
                <div class="triangle-3"></div>
                <div class="triangle-4"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="inner">
              <div class="inner-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="frame" style="left: 40%;">
          <div class="top">
            <div class="inner">
              <div class="inner-2">
                <div class="triangle"></div>
                <div class="triangle-2"></div>
                <div class="triangle-3"></div>
                <div class="triangle-4"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="inner">
              <div class="inner-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="frame" style="left: 60%;">
          <div class="top">
            <div class="inner">
              <div class="inner-2">
                <div class="triangle"></div>
                <div class="triangle-2"></div>
                <div class="triangle-3"></div>
                <div class="triangle-4"></div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="inner">
              <div class="inner-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="window-title text-center">
          <p>Somewhere in Bugis</p>
        </div>
      </div>
  	</div>

    <div class="row">
      <div class="col-sm-6 window" id="window-3">
        <div class="frame">
          <div class="top">
            <div class="base-layer">
              <div class="left-1"></div>
              <div class="top-1-left"></div>
              <div class="top-1-right"></div>
              <div class="right-1"></div>
              <div class="left-2"></div>
              <div class="right-2"></div>
              <div class="top-2"></div>
              <div class="middle"></div>
              <div class="bottom-2"></div>
              <div class="bottom-1-left"></div>
              <div class="bottom-1-right"></div>
            </div>
            
          </div>
          <div class="bottom">
            <div class="pane">
              <div class="upper">
                <div class="base-layer">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>    
                </div>
                <div class="second-layer">
                  <div class="rhombus"></div>
                </div>
              </div>
              <div class="lower">
                <div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div>
              </div>
            </div>
            <div class="pane" id="pane-right">
              <div class="upper">
                <div class="base-layer">
                  <div class="tl"></div>
                  <div class="tr"></div>
                  <div class="bl"></div>
                  <div class="br"></div>    
                </div>
                <div class="second-layer">
                  <div class="rhombus"></div>
                </div>
              </div>
              <div class="lower">
                <div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 window" id="window-4">
        
      </div>
    </div>
  </div>
{% endblock %}